@model _100719.ViewModels.ViewStore
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-7">
        <h1>@Model.ProductSectionTitle</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var prd in Model.Products)
                {
                    <tr>
                        <td>@prd.Name</td>
                        <td>@prd.Price</td>
                        <td>@prd.Category.Name</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <div class="col-lg-3">
        <h1>@Model.CategorySectionTitle</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ctg in Model.Categories)
                {
                    <tr>
                        <td>@ctg.Name</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

</div>

